.App-logo {
  padding-left: 10px;
}

.App-header {
  background: linear-gradient(to right, rgba(96,0,165,1) 0%, rgba(130,65,170,1) 33%, rgba(185,52,154,1) 66%, rgba(236,6,119,1) 100%);
  min-height: 30vh;
  display: flexbox;
  font-size: calc(10px + 2vmin);
  color: white;
}